services:
  postgres:
    build:
      context: .
      dockerfile: Dockerfile.postgres
    image: udla_postgres
    container_name: udla_postgres
    restart: always
    env_file: .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_INITDB_ARGS: "--encoding=UTF8 --locale=C"
    ports:
      - "5440:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init_usuarios.sql:/docker-entrypoint-initdb.d/01_init_usuarios.sql
      - ./init_jugadores.sql:/docker-entrypoint-initdb.d/02_init_jugadores.sql
      - ./init_torneos.sql:/docker-entrypoint-initdb.d/03_init_torneos.sql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - app-net
  
  authservice:
    image: dase123/udlaia-stats:udla_postgres
    container_name: authservice
    env_file: .env
    environment:
      DEBUG: "true"
      ALLOWED_HOSTS: ${ALLOWED_HOSTS}
      POSTGRES_HOST: postgres
      POSTGRES_PORT: "5432"
      POSTGRES_DB: ${POSTGRES_DB}
      FRONTEND_URL: ${FRONTEND_URL}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    depends_on:
      postgres:
        condition: service_healthy
    ports:
      - "8010:8010"
    networks:
      - app-net

volumes:
  postgres_data:
    driver: local

networks:
  app-net:
    driver: bridge